<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/layout/base::common_header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">
</head>
<body>
<h1>메인 컨텐츠</h1>
</body>
</html>
