<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>속성 설정</h1>
<label>
    <input type="text" name="mock" th:name="userA"/>
</label>

<h1>속성 추가</h1>
<label>
    - th:attrappend =
    <input type="text" class="text" th:attrappend="class=' large'"/>
</label><br/>
<label>
    - th:attrprepend =
    <input type="text" class="text" th:attrprepend="class='large '"/>
</label><br/>
<label>
    - th:classappend =
    <input type="text" class="text" th:classappend="large"/>
</label><br/>

<h1>checked 처리</h1>
<label>
    - checked o
    <input type="checkbox" name="active" th:checked="true"/>
</label><br/>
<label>
    - checked x
    <input type="checkbox" name="active" th:checked="false"/>
</label><br/>
<label>
    - checked=false
    <input type="checkbox" name="active" checked/>
</label><br/>

</body>
</html>
